section.catalog 
	.container 
		h1 новые поступления
		.watch-box.watch-box-catalog 
			.watch-box__item.watch-box-catalog__item
				.watch-box__item__preview 
					.watch-box__item__preview__img
				span.watch-box__item__name Louis XVI ATHOS
				span.watch-box__item__price 165 000 руб.
			.watch-box__item.watch-box-catalog__item
				.watch-box__item__preview 
					.watch-box__item__preview__img
				span.watch-box__item__name Louis XVI ATHOS
				span.watch-box__item__price 165 000 руб.
			.watch-box__item.watch-box-catalog__item
				.watch-box__item__preview 
					.watch-box__item__preview__img
				span.watch-box__item__name Louis XVI ATHOS
				span.watch-box__item__price 165 000 руб.
			.watch-box__item.watch-box-catalog__item
				.watch-box__item__preview 
					.watch-box__item__preview__img
				span.watch-box__item__name Louis XVI ATHOS
				span.watch-box__item__price 165 000 руб.
			.watch-box__item.watch-box-catalog__item
				.watch-box__item__preview 
					.watch-box__item__preview__img
				span.watch-box__item__name Louis XVI ATHOS
				span.watch-box__item__price 165 000 руб.
			.watch-box__item.watch-box-catalog__item
				.watch-box__item__preview 
					.watch-box__item__preview__img
				span.watch-box__item__name Louis XVI ATHOS
				span.watch-box__item__price 165 000 руб.
			.watch-box__item.watch-box-catalog__item
				.watch-box__item__preview 
					.watch-box__item__preview__img
				span.watch-box__item__name Louis XVI ATHOS
				span.watch-box__item__price 165 000 руб.
			.watch-box__item.watch-box-catalog__item
				.watch-box__item__preview 
					.watch-box__item__preview__img
				span.watch-box__item__name Louis XVI ATHOS
				span.watch-box__item__price 165 000 руб.