footer 
	.top-footer 
		.container 
			.top-footer__shop.top-footer__item
				h2 О магазине
				p.
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mi semper viverra nunc cursus tortor lectus nunc nulla nibh. Egestas amet consectetur vel vitae aliquam dictum suspendisse. Lobortis eget consequat, tellus et et sed turpis. Pretium quisque vitae, amet, porttitor odio ultricies massa pharetra leo. Et ipsum urna fames in sit mi ultrices nisi, nunc.
			.top-footer__tags.top-footer__item
				h2 Категории
				ul.tags
					li.tags__item
						a(href="#") часы
					li.tags__item
						a(href="#") браслеты
					li.tags__item
						a(href="#") ремни
					li.tags__item
						a(href="#") ювелирные изделия
					li.tags__item
						a(href="#") запонки
			.top-footer__mailing.top-footer__item
				h2 РАссылка
				p.
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mi semper viverra nunc cursus tortor lectus nunc nulla nibh.
				form(action="#", method="post") 
					input(type="email", name="mailing" placeholder="Ваша почта")
					button Подписаться
	.bottom-footer 
		.container
			p © 2020 Все права защищены
			a(href="#") Сделано Figma.info 

		