header.header
	.top-header
		.container 
			.top-header__info 
				a.top-header__info__item(href="tel:88121234567") 8 (812) 123-45-67
				.top-header__info__item Работаем 7 дней в неделю
				.top-header__info__item 9:00 — 18:00
			.top-header__login
				button Войти / Регистрация
	.low-header
		.container
			a.logo(href="index.html") 
				img(src="img/logo.svg", alt="logo")
			nav 
				ul.navigation
					li.navigation__item
						a(href="#") Понравилось
					li.navigation__item
						a(href="#") Личный кабинет
					li.navigation__item
						a(href="#") Настройки
				button.cart
				button.search