@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Playfair+Display:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  color: inherit;
  text-decoration: unset;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: #fff;
  background-color: #000;
  font-family: 'PT Sans', sans-serif;
}

.container {
  max-width: 1150px;
  padding: 0 20px;
  margin: 0 auto;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  position: relative;
}

h1::after {
  content: "";
  width: 120px;
  height: 1px;
  bottom: -50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #fff;
  position: absolute;
}

h2 {
  font-family: 'Playfair Display', serif;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 45px;
}

p {
  line-height: 1.5;
}

a.button {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 12px 26px;
  border: 1px solid #fff;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

a.button:hover {
  color: #000;
  background-color: #fff;
}

.header {
  color: #969696;
}

.header .top-header {
  font-size: 12px;
  padding: 14px 0;
}

.header .top-header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .top-header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .top-header__info__item {
  padding: 0 14px;
  position: relative;
}

.header .top-header__info__item:first-child:before {
  content: "";
  width: 14px;
  height: 14px;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
  background-image: url("../img/phone-ico.svg");
}

.header .top-header__info__item:first-child {
  padding-left: 30px;
}

.header .top-header__info__item:last-child {
  padding-right: 0;
}

.header .top-header__info__item::after {
  content: "";
  width: 1px;
  height: 10px;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #969696;
  position: absolute;
}

.header .top-header__info__item:last-child::after {
  display: none;
}

.header .top-header__login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .top-header__login button {
  font-size: 12px;
  color: inherit;
  background-color: transparent;
  padding-left: 25px;
  position: relative;
}

.header .top-header__login button::before {
  content: "";
  width: 14px;
  height: 14px;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-image: url("../img/signin-ico.svg");
  background-repeat: no-repeat;
  position: absolute;
}

.header .top-header__login button:hover {
  color: #fff;
}

.header .low-header {
  background-color: #0F0F0F;
}

.header .low-header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .low-header .logo img {
  width: 100px;
  height: auto;
}

.header .low-header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .low-header nav .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
}

.header .low-header nav .navigation__item a {
  display: block;
  font-size: 14px;
  text-transform: uppercase;
  padding: 34px 20px;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

.header .low-header nav .navigation__item:hover {
  color: #fff;
  background-color: #1F1F1F;
}

.header .low-header nav button {
  width: 20px;
  height: 20px;
  margin: 0 22px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
}

.header .low-header nav .cart {
  background-image: url("../img/cart-ico.svg");
}

.header .low-header nav .search {
  margin-right: 0;
  background-image: url("../img/search-ico.svg");
}

.top-section {
  padding: 160px 0 154px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../img/top-section-bg.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/top-section-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}

.top-section__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 320px;
  height: 320px;
  margin: 0 auto 80px;
  border: 4px solid #fff;
}

.top-section__logo img {
  width: 185px;
  margin-bottom: 25px;
}

.top-section__logo span {
  font-size: 22px;
  text-transform: uppercase;
  position: relative;
}

.top-section__logo span::before {
  content: "";
  width: 180px;
  height: 2px;
  top: -13px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #fff;
  position: absolute;
}

.top-section__text {
  max-width: 730px;
  text-align: center;
  margin: 0 auto;
}

.top-section__text p {
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

.new-collection .container {
  max-width: 1920px;
  padding: 0;
}

.new-collection-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 13fr 11fr;
      grid-template-columns: 13fr 11fr;
}

.new-collection-box__item {
  text-align: center;
  padding: 93px 60px 46px;
}

.new-collection-box__item:first-child {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.new-collection-box__item:first-child h1 {
  margin-bottom: 100px;
}

.new-collection-box__item:last-child {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 113px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../img/new-collection-bg.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/new-collection-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.new-collection-box__item:last-child h1 {
  margin-bottom: 72px;
}

.new-collection-box__item:last-child h1::after {
  bottom: -30px;
}

.watch-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -20px;
}

.watch-box__item {
  width: 100%;
  text-align: left;
  padding: 0 20px;
  margin-bottom: 40px;
}

.watch-box__item__preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 42px 16px;
  margin-bottom: 30px;
  height: 325px;
  background-color: #191B1C;
}

.watch-box__item__preview img {
  width: 100%;
}

.watch-box__item__name {
  display: block;
  font-family: 'Playfair Display', serif;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 16px;
}

.watch-box__item__price {
  display: block;
  font-family: 'Playfair Display', serif;
  font-size: 16px;
  font-weight: 700;
  color: #D0D0D0;
}

.watch-box__item:hover .watch-box__item__preview {
  padding: 22px 10px;
}

.collection-2018 .container {
  max-width: 1920px;
  padding: 0;
}

.collection-2018-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 11fr 13fr;
      grid-template-columns: 11fr 13fr;
}

.collection-2018-box__item {
  text-align: center;
}

.collection-2018-box__item__info {
  max-width: 470px;
  margin: 0 auto;
}

.collection-2018-box__item__info h1 {
  margin-bottom: 80px;
}

.collection-2018-box__item__info h1:after {
  bottom: -36px;
}

.collection-2018-box__item__info p {
  margin-bottom: 80px;
}

.collection-2018-box__item__info a {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 12px 26px;
  border: 1px solid #fff;
}

.collection-2018-box__item:first-child {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../img/collection-2018-bg.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/collection-2018-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.collection-2018-box__item:last-child {
  padding: 110px 0;
}

.catalog {
  padding: 120px 0 150px;
}

.catalog .container h1 {
  margin-bottom: 120px;
}

.catalog .container .watch-box-catalog {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -11px;
}

.catalog .container .watch-box-catalog__item {
  max-width: 260px;
  padding: 0 11px;
}

.brands {
  background-color: #0f0f0f;
  padding: 64px 0 80px;
}

.brands h1 {
  margin-bottom: 80px;
}

.brands-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.brands-box__item {
  background-image: url("../img/brand-logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 255px;
  height: 94px;
}

footer .top-footer {
  padding: 80px 0 100px;
  margin: 0 -15px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.85)), to(rgba(0, 0, 0, 0.55))), url("../img/bg-footer.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.55)), url("../img/bg-footer.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

footer .top-footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 6px;
}

footer .top-footer__item {
  padding: 0 15px;
}

footer .top-footer .top-footer__shop {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
}

footer .top-footer .top-footer__tags {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
}

footer .top-footer .tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -10px;
}

footer .top-footer .tags__item {
  padding: 13px 21px;
  margin: 0 10px 20px;
  color: #D0D0D0;
  background-color: #0f0f0f;
}

footer .top-footer .top-footer__mailing {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
}

footer .top-footer .top-footer__mailing p {
  margin-bottom: 36px;
}

footer .top-footer .top-footer__mailing form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.4);
}

footer .top-footer .top-footer__mailing form input {
  color: #fff;
  background-color: transparent;
  margin: 0 16px;
}

footer .top-footer .top-footer__mailing form button {
  font-size: 14px;
  letter-spacing: 0.7px;
  height: 100%;
  padding: 12px 20px;
  text-transform: uppercase;
  color: #fff;
  background-color: #0f0f0f;
}

footer .bottom-footer {
  padding: 18px 0;
  font-size: 12px;
  color: #D0D0D0;
}

footer .bottom-footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .bottom-footer a {
  text-decoration: underline;
  font-weight: 700;
}
