
doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		link(rel="stylesheet", href="styles/style.css")
		title Watch store
	body 
		include modules/header
		include modules/top-section
<<<<<<< HEAD
		
=======
		include modules/new-collection
		include modules/collection-2018
		include modules/catalog
>>>>>>> parent of 63cb33d (Upd)
		include modules/footer